.button_button__sGggG {
    position: relative;
    font: var(--text-family-sansSerif);
    font-size: var(--text-button-default-size);
    font-weight: var(--text-button-weight);
    color: var(--front-stronger);
    border-radius: var(--defaults-borderRadius);
    text-align: center;
    background: var(--back-medium);
    border: 0;
    padding: 1em 1.2em;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition: var(--defaults-animationTime)
}

.button_button__sGggG:hover {
    text-decoration: none
}

.button_button__sGggG:focus {
    box-shadow: var(--defaults-focusOutlineButton)
}

.button_button__sGggG.button_tiny__JNdTm {
    padding: 5px 7px;
    font-size: var(--text-button-tiny-size)
}

.button_button__sGggG.button_small__RXWio {
    padding: 7px 10px;
    font-size: var(--text-button-small-size)
}

.button_button__sGggG.button_medium__X8zaU {
    padding: 8px 12px
}

.button_button__sGggG.button_big__AspQe {
    font-size: var(--text-button-big-size)
}

.button_button__sGggG.button_brand__XChpI {
    color: var(--back-strongest);
    background: var(--color-brand-default);
    box-shadow: var(--defaults-shadowStatic)
}

.button_button__sGggG.button_brand__XChpI:hover {
    background: var(--color-brand-dark);
    box-shadow: var(--defaults-shadowHover)
}

.button_button__sGggG.button_brand__XChpI:focus {
    box-shadow: var(--defaults-focusOutlineButton)
}

.button_button__sGggG.button_white__Oszh3 {
    background: var(--back-strongest);
    color: var(--color-brand-default);
    box-shadow: var(--defaults-shadowStatic)
}

.button_button__sGggG.button_white__Oszh3:hover {
    background: var(--back-stronger);
    box-shadow: var(--defaults-shadowHover)
}

.button_button__sGggG.button_white__Oszh3:focus {
    box-shadow: var(--defaults-focusOutlineButton)
}

.button_button__sGggG.button_grey__466Yf {
    background: var(--back-strong);
    color: var(--color-brand-default);
    box-shadow: var(--defaults-shadowStatic)
}

.button_button__sGggG.button_grey__466Yf:hover {
    background: var(--back-medium);
    box-shadow: var(--defaults-shadowHover)
}

.button_button__sGggG.button_grey__466Yf:focus {
    box-shadow: var(--defaults-focusOutlineButton)
}

.button_button__sGggG.button_default__ojMkJ {
    color: var(--front-stronger);
    background: var(--front-default-inversed)
}

.button_button__sGggG.button_default__ojMkJ:hover {
    background: var(--front-default-inversed)
}

.button_button__sGggG.button_light__gTya1 {
    color: var(--front-stronger);
    background: var(--back-strong)
}

.button_button__sGggG.button_light__gTya1:hover {
    background: var(--back-medium)
}

.button_button__sGggG.button_lighter__0f1pC {
    color: var(--front-strongest);
    background: var(--back-stronger)
}

.button_button__sGggG.button_lighter__0f1pC:hover {
    background: var(--back-strong)
}

.button_button__sGggG.button_danger__37dRf {
    color: var(--color-red-default);
    background: var(--color-red-light)
}

.button_button__sGggG.button_danger__37dRf:hover {
    background: hsl(0, 100, 96)
}

.button_button__sGggG.button_red__mq63z {
    color: #fff;
    background: var(--color-red-default)
}

.button_button__sGggG.button_facebook__nBn_u {
    color: var(--front-strongest);
    background: var(--color-facebook-light)
}

.button_button__sGggG.button_facebook__nBn_u:hover {
    background: var(--color-facebook-medium)
}

.button_button__sGggG.button_twitter__9BeqW {
    color: var(--front-strongest);
    background: var(--color-twitter-light)
}

.button_button__sGggG.button_twitter__9BeqW:hover {
    background: var(--color-twitter-medium);
    color: var(--front-strongest)
}

.button_button__sGggG.button_link__SWsFn {
    background: transparent;
    color: var(--front-strongest)
}

.button_button__sGggG.button_link__SWsFn:hover {
    color: var(--color-brand-default)
}

.button_clean__hVjTI,
.button_clean__hVjTI:hover {
    text-decoration: none;
    font-weight: inherit
}

.button_button__sGggG.button_disabled__Avp0L {
    background: var(--back-strong);
    cursor: not-allowed;
    color: var(--front-default)
}

.button_button__sGggG.button_disabled__Avp0L,
.button_button__sGggG.button_disabled__Avp0L:active,
.button_button__sGggG.button_disabled__Avp0L:hover {
    box-shadow: none;
    background: var(--back-strong)
}

.button_button__sGggG[disabled],
.button_button__sGggG[disabled]:active,
.button_button__sGggG[disabled]:hover {
    cursor: auto;
    background: var(--back-strong)
}

.button_button__sGggG.button_link__SWsFn.button_disabled__Avp0L {
    background: transparent
}

.button_button__sGggG.button_link__SWsFn.button_disabled__Avp0L:active,
.button_button__sGggG.button_link__SWsFn.button_disabled__Avp0L:hover {
    color: var(--front-default);
    background: transparent
}

.button_autoWidth__cLefe {
    flex-grow: 1;
    flex-basis: 0
}

/*# sourceMappingURL=3661b6f8f8329753.css.map*/