.icon_xl__eh4ch {
    width: 32px;
    height: 32px
}

.icon_large__HZc7K {
    width: 24px;
    height: 24px
}

.icon_default___QVV9 {
    width: 20px;
    height: 20px
}

.icon_small__n3B1T {
    width: 16px;
    height: 16px
}

.icon_xs__AZ_US {
    width: 12px;
    height: 12px
}

.button_button__bjA22 {
    border: none;
    text-decoration: none;
    border-radius: var(--dimensions-borderRadius-medium);
    cursor: pointer;
    margin: 0;
    vertical-align: bottom;
    transition: background-color var(--transition-duration-default)
}

.button_button__bjA22:not(.button_loading__E19Mz) .button_textContent__h9hLW,
.button_button__bjA22:not(.button_loading__E19Mz) svg {
    transition: color var(--transition-duration-default), opacity var(--transition-duration-default)
}

.button_button__bjA22.button_disabled__qJQjp .button_textContent__h9hLW,
.button_button__bjA22.button_disabled__qJQjp svg {
    opacity: var(--disabled-opacity)
}

a.button_button__bjA22:hover {
    text-decoration: none
}

.button_fullWidth__uk78J {
    width: 100%
}

.button_button__bjA22.button_disabled__qJQjp {
    cursor: not-allowed
}

.button_button__bjA22.button_loading__E19Mz {
    transition-duration: 0s;
    cursor: progress
}

.button_button__bjA22 .button_badge__tesfK,
.button_button__bjA22 svg {
    flex: none
}

.button_basic__UWiCh {
    font: var(--typography-text-default-semibold);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-flex;
    gap: var(--dimensions-spacing-xs);
    position: relative
}

.button_textContent__h9hLW {
    padding: 0 var(--dimensions-spacing-xs);
    flex: none
}

.button_button__bjA22.button_loading__E19Mz>* {
    color: transparent !important
}

.button_button__bjA22 .button_loadingIcon__bGBAF {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    pointer-events: none;
    animation: button_pulse__OuQwD 1s ease-in-out infinite
}

.button_basic__UWiCh.button_loading__E19Mz .button_loadingIcon__bGBAF {
    color: var(--color-black)
}

@keyframes button_pulse__OuQwD {
    0%,
    to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

.button_small__LyxTP {
    border-radius: var(--dimensions-borderRadius-small);
    font: var(--typography-text-small-semibold);
    height: var(--dimensions-spacing-2xl);
    padding: var(--dimensions-spacing-xs);
    gap: var(--dimensions-spacing-2xs)
}

.button_small__LyxTP .button_textContent__h9hLW {
    padding: 0 var(--dimensions-spacing-2xs)
}

.button_default__8ts32 {
    padding: var(--dimensions-spacing-small);
    height: var(--dimensions-spacing-4xl)
}

.button_large__kvbXf {
    padding: var(--dimensions-spacing-medium);
    height: var(--dimensions-spacing-6xl)
}

.button_xl__IX8KF {
    padding: var(--dimensions-spacing-medium) var(--dimensions-spacing-large);
    height: 52px;
    font-size: var(--typography-text-large-size)
}

.button_primary__rOLXs.button_disabled__qJQjp,
.button_secondary-alt__jCAZG.button_disabled__qJQjp,
.button_secondary__gYswm.button_disabled__qJQjp {
    background-color: var(--theme-colors-background-base-tint-default) !important;
    color: var(--theme-colors-text-base-secondary) !important
}

.button_text__gx7qj.button_disabled__qJQjp {
    background-color: initial !important;
    color: var(--theme-colors-text-base-secondary) !important
}

.button_primary__rOLXs.button_disabled__qJQjp svg,
.button_secondary-alt__jCAZG.button_disabled__qJQjp svg,
.button_secondary__gYswm.button_disabled__qJQjp svg,
.button_text__gx7qj.button_disabled__qJQjp svg {
    color: var(--theme-colors-icon-base-primary) !important
}

.button_button__bjA22.button_primary__rOLXs {
    color: var(--theme-colors-text-inverse-primary)
}

.button_primary__rOLXs.button_base__hYGrz {
    background-color: var(--theme-colors-background-base-inverse-default)
}

.button_primary__rOLXs.button_base__hYGrz svg {
    color: var(--theme-colors-icon-base-inverse)
}

.button_primary__rOLXs.button_base__hYGrz.button_loading__E19Mz,
.button_primary__rOLXs.button_base__hYGrz:hover {
    background-color: var(--theme-colors-background-base-inverse-hover)
}

.button_primary__rOLXs.button_base__hYGrz:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-base-inverse-active)
}

.button_primary__rOLXs.button_green__M6qy2 {
    background-color: var(--theme-colors-background-green-primary-default)
}

.button_primary__rOLXs.button_green__M6qy2 svg {
    color: var(--theme-colors-icon-green-inverse)
}

.button_primary__rOLXs.button_green__M6qy2.button_loading__E19Mz,
.button_primary__rOLXs.button_green__M6qy2:hover {
    background-color: var(--theme-colors-background-green-primary-hover)
}

.button_primary__rOLXs.button_green__M6qy2:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-green-primary-active)
}

.button_primary__rOLXs.button_yellow__Hi6Yo {
    background-color: var(--theme-colors-background-yellow-primary-default)
}

.button_primary__rOLXs.button_yellow__Hi6Yo svg {
    color: var(--theme-colors-icon-yellow-inverse)
}

.button_primary__rOLXs.button_yellow__Hi6Yo.button_loading__E19Mz,
.button_primary__rOLXs.button_yellow__Hi6Yo:hover {
    background-color: var(--theme-colors-background-yellow-primary-hover)
}

.button_primary__rOLXs.button_yellow__Hi6Yo:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-yellow-primary-active)
}

.button_primary__rOLXs.button_light-yellow__W8n__ {
    color: var(--theme-colors-text-yellow-primary);
    background-color: var(--theme-colors-background-yellow-tint-default)
}

.button_primary__rOLXs.button_light-yellow__W8n__ svg {
    color: var(--theme-colors-text-yellow-primary)
}

.button_primary__rOLXs.button_light-yellow__W8n__.button_loading__E19Mz,
.button_primary__rOLXs.button_light-yellow__W8n__:hover {
    background-color: var(--theme-colors-background-yellow-tint-hover)
}

.button_primary__rOLXs.button_light-yellow__W8n__:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-yellow-tint-active)
}

.button_primary__rOLXs.button_orange__Ewwq7 {
    background-color: var(--theme-colors-background-orange-primary-default)
}

.button_primary__rOLXs.button_orange__Ewwq7 svg {
    color: var(--theme-colors-icon-orange-inverse)
}

.button_primary__rOLXs.button_orange__Ewwq7.button_loading__E19Mz,
.button_primary__rOLXs.button_orange__Ewwq7:hover {
    background-color: var(--theme-colors-background-orange-primary-hover)
}

.button_primary__rOLXs.button_orange__Ewwq7:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-orange-primary-active)
}

.button_primary__rOLXs.button_red__kGfsa {
    background-color: var(--theme-colors-background-red-primary-default)
}

.button_primary__rOLXs.button_red__kGfsa svg {
    color: var(--theme-colors-icon-red-inverse)
}

.button_primary__rOLXs.button_red__kGfsa.button_loading__E19Mz,
.button_primary__rOLXs.button_red__kGfsa:hover {
    background-color: var(--theme-colors-background-red-primary-hover)
}

.button_primary__rOLXs.button_red__kGfsa:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-red-primary-active)
}

.button_primary__rOLXs.button_purple__o_AeK {
    background-color: var(--theme-colors-background-purple-primary-default)
}

.button_primary__rOLXs.button_purple__o_AeK svg {
    color: var(--theme-colors-icon-purple-inverse)
}

.button_primary__rOLXs.button_purple__o_AeK.button_loading__E19Mz,
.button_primary__rOLXs.button_purple__o_AeK:hover {
    background-color: var(--theme-colors-background-purple-primary-hover)
}

.button_primary__rOLXs.button_purple__o_AeK:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-purple-primary-active)
}

.button_primary__rOLXs.button_blue__s5GUT {
    background-color: var(--theme-colors-background-blue-primary-default)
}

.button_primary__rOLXs.button_blue__s5GUT svg {
    color: var(--theme-colors-icon-blue-inverse)
}

.button_primary__rOLXs.button_blue__s5GUT.button_loading__E19Mz,
.button_primary__rOLXs.button_blue__s5GUT:hover {
    background-color: var(--theme-colors-background-blue-primary-hover)
}

.button_primary__rOLXs.button_blue__s5GUT:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-blue-primary-active)
}

.button_secondary__gYswm.button_base__hYGrz {
    background-color: var(--theme-colors-background-base-tint-default);
    color: var(--theme-colors-text-base-primary)
}

.button_secondary__gYswm.button_base__hYGrz svg {
    color: var(--theme-colors-icon-base-primary)
}

.button_secondary-alt__jCAZG.button_base__hYGrz,
.button_secondary__gYswm.button_base__hYGrz.button_loading__E19Mz,
.button_secondary__gYswm.button_base__hYGrz:hover {
    background-color: var(--theme-colors-background-base-tint-hover)
}

.button_secondary-alt__jCAZG.button_base__hYGrz.button_loading__E19Mz,
.button_secondary-alt__jCAZG.button_base__hYGrz:hover,
.button_secondary__gYswm.button_base__hYGrz:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-base-tint-active)
}

.button_secondary-alt__jCAZG.button_base__hYGrz:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-base-tint-highlight)
}

.button_secondary__gYswm.button_green__M6qy2 {
    background-color: var(--theme-colors-background-green-tint-default);
    color: var(--theme-colors-text-green-secondary)
}

.button_secondary__gYswm.button_green__M6qy2 svg {
    color: var(--theme-colors-icon-green-primary)
}

.button_secondary-alt__jCAZG.button_green__M6qy2,
.button_secondary__gYswm.button_green__M6qy2.button_loading__E19Mz,
.button_secondary__gYswm.button_green__M6qy2:hover {
    background-color: var(--theme-colors-background-green-tint-hover)
}

.button_secondary-alt__jCAZG.button_green__M6qy2.button_loading__E19Mz,
.button_secondary-alt__jCAZG.button_green__M6qy2:hover,
.button_secondary__gYswm.button_green__M6qy2:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-green-tint-active)
}

.button_secondary-alt__jCAZG.button_green__M6qy2:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-green-tint-highlight)
}

.button_secondary__gYswm.button_yellow__Hi6Yo {
    background-color: var(--theme-colors-background-yellow-tint-default);
    color: var(--theme-colors-text-yellow-secondary)
}

.button_secondary__gYswm.button_yellow__Hi6Yo svg {
    color: var(--theme-colors-icon-yellow-primary)
}

.button_secondary-alt__jCAZG.button_yellow__Hi6Yo,
.button_secondary__gYswm.button_yellow__Hi6Yo.button_loading__E19Mz,
.button_secondary__gYswm.button_yellow__Hi6Yo:hover {
    background-color: var(--theme-colors-background-yellow-tint-hover)
}

.button_secondary-alt__jCAZG.button_yellow__Hi6Yo.button_loading__E19Mz,
.button_secondary-alt__jCAZG.button_yellow__Hi6Yo:hover,
.button_secondary__gYswm.button_yellow__Hi6Yo:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-yellow-tint-active)
}

.button_secondary-alt__jCAZG.button_yellow__Hi6Yo:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-yellow-tint-highlight)
}

.button_secondary__gYswm.button_orange__Ewwq7 {
    background-color: var(--theme-colors-background-orange-tint-default);
    color: var(--theme-colors-text-orange-secondary)
}

.button_secondary__gYswm.button_orange__Ewwq7 svg {
    color: var(--theme-colors-icon-orange-primary)
}

.button_secondary-alt__jCAZG.button_orange__Ewwq7,
.button_secondary__gYswm.button_orange__Ewwq7.button_loading__E19Mz,
.button_secondary__gYswm.button_orange__Ewwq7:hover {
    background-color: var(--theme-colors-background-orange-tint-hover)
}

.button_secondary-alt__jCAZG.button_orange__Ewwq7.button_loading__E19Mz,
.button_secondary-alt__jCAZG.button_orange__Ewwq7:hover,
.button_secondary__gYswm.button_orange__Ewwq7:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-orange-tint-active)
}

.button_secondary-alt__jCAZG.button_orange__Ewwq7:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-orange-tint-highlight)
}

.button_secondary__gYswm.button_red__kGfsa {
    background-color: var(--theme-colors-background-red-tint-default);
    color: var(--theme-colors-text-red-secondary)
}

.button_secondary__gYswm.button_red__kGfsa svg {
    color: var(--theme-colors-icon-red-primary)
}

.button_secondary-alt__jCAZG.button_red__kGfsa,
.button_secondary__gYswm.button_red__kGfsa.button_loading__E19Mz,
.button_secondary__gYswm.button_red__kGfsa:hover {
    background-color: var(--theme-colors-background-red-tint-hover)
}

.button_secondary-alt__jCAZG.button_red__kGfsa.button_loading__E19Mz,
.button_secondary-alt__jCAZG.button_red__kGfsa:hover,
.button_secondary__gYswm.button_red__kGfsa:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-red-tint-active)
}

.button_secondary-alt__jCAZG.button_red__kGfsa:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-red-tint-highlight)
}

.button_secondary__gYswm.button_purple__o_AeK {
    background-color: var(--theme-colors-background-purple-tint-default);
    color: var(--theme-colors-text-purple-secondary)
}

.button_secondary__gYswm.button_purple__o_AeK svg {
    color: var(--theme-colors-icon-purple-primary)
}

.button_secondary-alt__jCAZG.button_purple__o_AeK,
.button_secondary__gYswm.button_purple__o_AeK.button_loading__E19Mz,
.button_secondary__gYswm.button_purple__o_AeK:hover {
    background-color: var(--theme-colors-background-purple-tint-hover)
}

.button_secondary-alt__jCAZG.button_purple__o_AeK.button_loading__E19Mz,
.button_secondary-alt__jCAZG.button_purple__o_AeK:hover,
.button_secondary__gYswm.button_purple__o_AeK:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-purple-tint-active)
}

.button_secondary-alt__jCAZG.button_purple__o_AeK:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-purple-tint-highlight)
}

.button_secondary__gYswm.button_blue__s5GUT {
    background-color: var(--theme-colors-background-blue-tint-default);
    color: var(--theme-colors-text-blue-secondary)
}

.button_secondary__gYswm.button_blue__s5GUT svg {
    color: var(--theme-colors-icon-blue-primary)
}

.button_secondary-alt__jCAZG.button_blue__s5GUT,
.button_secondary__gYswm.button_blue__s5GUT.button_loading__E19Mz,
.button_secondary__gYswm.button_blue__s5GUT:hover {
    background-color: var(--theme-colors-background-blue-tint-hover)
}

.button_secondary-alt__jCAZG.button_blue__s5GUT.button_loading__E19Mz,
.button_secondary-alt__jCAZG.button_blue__s5GUT:hover,
.button_secondary__gYswm.button_blue__s5GUT:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-blue-tint-active)
}

.button_secondary-alt__jCAZG.button_blue__s5GUT:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-blue-tint-highlight)
}

.button_text__gx7qj {
    background-color: initial;
    color: var(--theme-colors-text-base-primary)
}

.button_text__gx7qj svg {
    color: var(--theme-colors-icon-base-primary)
}

.button_text__gx7qj.button_loading__E19Mz,
.button_text__gx7qj:hover {
    background-color: var(--theme-colors-background-base-tint-hover)
}

.button_text__gx7qj.button_base__hYGrz:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-base-tint-active)
}

.button_text__gx7qj.button_green__M6qy2:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-green-tint-active);
    color: var(--theme-colors-text-green-secondary)
}

.button_text__gx7qj.button_green__M6qy2:not(.button_loading__E19Mz):active svg {
    color: var(--theme-colors-icon-green-primary)
}

.button_text__gx7qj.button_yellow__Hi6Yo:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-yellow-tint-active);
    color: var(--theme-colors-text-yellow-secondary)
}

.button_text__gx7qj.button_yellow__Hi6Yo:not(.button_loading__E19Mz):active svg {
    color: var(--theme-colors-icon-yellow-primary)
}

.button_text__gx7qj.button_orange__Ewwq7:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-orange-tint-active);
    color: var(--theme-colors-text-orange-secondary)
}

.button_text__gx7qj.button_orange__Ewwq7:not(.button_loading__E19Mz):active svg {
    color: var(--theme-colors-icon-orange-primary)
}

.button_text__gx7qj.button_red__kGfsa:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-red-tint-active);
    color: var(--theme-colors-text-red-secondary)
}

.button_text__gx7qj.button_red__kGfsa:not(.button_loading__E19Mz):active svg {
    color: var(--theme-colors-icon-red-primary)
}

.button_text__gx7qj.button_purple__o_AeK:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-purple-tint-active);
    color: var(--theme-colors-text-purple-secondary)
}

.button_text__gx7qj.button_purple__o_AeK:not(.button_loading__E19Mz):active svg {
    color: var(--theme-colors-icon-purple-primary)
}

.button_text__gx7qj.button_blue__s5GUT:not(.button_loading__E19Mz):active {
    background-color: var(--theme-colors-background-blue-tint-active);
    color: var(--theme-colors-text-blue-secondary)
}

.button_text__gx7qj.button_blue__s5GUT:not(.button_loading__E19Mz):active svg {
    color: var(--theme-colors-icon-blue-primary)
}

.badge_badge__xHBPy {
    font: var(--typography-label-small);
    letter-spacing: var(--typography-label-letterSpacing);
    text-transform: uppercase;
    border-radius: var(--dimensions-borderRadius-small);
    padding: var(--dimensions-spacing-2xs) var(--dimensions-spacing-xs)
}

.badge_primary__m1XS0.badge_base__X0O3r {
    background-color: var(--theme-colors-background-base-inverse-default);
    color: var(--theme-colors-text-inverse-primary)
}

.badge_secondary__MjDAe.badge_base__X0O3r {
    background-color: var(--theme-colors-background-base-tint-active);
    color: var(--theme-colors-text-base-secondary)
}

.badge_primary__m1XS0.badge_green__NLNBg {
    background-color: var(--theme-colors-background-green-primary-default);
    color: var(--theme-colors-text-inverse-primary)
}

.badge_secondary__MjDAe.badge_green__NLNBg {
    background-color: var(--theme-colors-background-green-tint-active);
    color: var(--theme-colors-text-green-secondary)
}

.badge_primary__m1XS0.badge_yellow__qvT0o {
    background-color: var(--theme-colors-background-yellow-primary-default);
    color: var(--theme-colors-static-black)
}

.badge_secondary__MjDAe.badge_yellow__qvT0o {
    background-color: var(--theme-colors-background-yellow-tint-active);
    color: var(--theme-colors-text-yellow-secondary)
}

.badge_primary__m1XS0.badge_orange__TSHdW {
    background-color: var(--theme-colors-background-orange-primary-default);
    color: var(--theme-colors-text-inverse-primary)
}

.badge_secondary__MjDAe.badge_orange__TSHdW {
    background-color: var(--theme-colors-background-orange-tint-active);
    color: var(--theme-colors-text-orange-secondary)
}

.badge_primary__m1XS0.badge_red__GMNLw {
    background-color: var(--theme-colors-background-red-primary-default);
    color: var(--theme-colors-text-inverse-primary)
}

.badge_secondary__MjDAe.badge_red__GMNLw {
    background-color: var(--theme-colors-background-red-tint-active);
    color: var(--theme-colors-text-red-secondary)
}

.badge_primary__m1XS0.badge_purple__GK_Tw {
    background-color: var(--theme-colors-background-purple-primary-default);
    color: var(--theme-colors-text-inverse-primary)
}

.badge_secondary__MjDAe.badge_purple__GK_Tw {
    background-color: var(--theme-colors-background-purple-tint-active);
    color: var(--theme-colors-text-purple-secondary)
}

.badge_primary__m1XS0.badge_blue__HnZ1X {
    background-color: var(--theme-colors-background-blue-primary-default);
    color: var(--theme-colors-text-inverse-primary)
}

.badge_secondary__MjDAe.badge_blue__HnZ1X {
    background-color: var(--theme-colors-background-blue-tint-active);
    color: var(--theme-colors-text-blue-secondary)
}

.loading-overlay_overlay__Kr7Xr {
    position: absolute;
    inset: 0;
    background-color: var(--colors-white-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999
}

.loading-overlay_loadingIcon___9ZJf {
    animation: loading-overlay_pulse__5VUX0 1s ease-in-out infinite
}

@keyframes loading-overlay_pulse__5VUX0 {
    0%,
    to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

.modal_overlay__R4fDg {
    background-color: var(--theme-colors-modal-overlay)
}

.modal_modal__9Gf1_ {
    background-color: var(--theme-colors-background-strongest);
    outline: none;
    padding: var(--dimensions-spacing-xl);
    border-radius: var(--dimensions-borderRadius-modal);
    box-shadow: var(--shadows-raised-500);
    overflow: hidden
}

.modal_modal__9Gf1_.modal_noPadding__o2EKY {
    padding: 0
}

.modal_container__AUFqc {
    position: relative
}

.modal_header__eHSNO.modal_withTitle__Of4Nr {
    padding-top: var(--dimensions-spacing-xs)
}

.modal_closeButton__uJRiR {
    position: absolute;
    top: 0;
    right: 0
}

.modal_noPadding__o2EKY .modal_closeButton__uJRiR {
    top: var(--dimensions-spacing-xl);
    right: var(--dimensions-spacing-xl)
}

.modal_title__MQ2jl {
    min-height: var(--dimensions-spacing-4xl);
    font: var(--typography-text-heading);
    color: var(--theme-colors-text-strongest);
    padding-top: var(--dimensions-spacing-2xs);
    padding-right: var(--dimensions-spacing-6xl);
    margin-bottom: var(--dimensions-spacing-4xl)
}

@media screen and (max-width:620px) {
    .modal_modal__9Gf1_ {
        min-width: 0 !important;
        width: calc(100% - var(--dimensions-spacing-large));
        margin: 0 var(--dimensions-spacing-small)
    }
}

.trial-bar_trialSection___TJ2m {
    flex: none;
    gap: var(--dimensions-spacing-xs);
    display: flex
}

.trial-bar_trialDaysRemaining__le11y {
    height: var(--dimensions-spacing-4xl);
    display: flex;
    flex: none;
    align-items: center;
    padding: 0 var(--dimensions-spacing-small);
    gap: var(--dimensions-spacing-small);
    background-color: var(--theme-colors-background-strong);
    border-radius: var(--dimensions-borderRadius-small);
    color: var(--theme-colors-text-stronger)
}

.trial-bar_trialExpiringSoon__tgyRL .trial-bar_trialDaysRemaining__le11y {
    background: var(--colors-orange-600-10);
    color: var(--colors-orange-800)
}

.trial-bar_daysLeft__6_rpJ {
    font: var(--typography-label-small);
    letter-spacing: var(--typography-label-letterSpacing);
    text-transform: uppercase
}

.trial-bar_noDrag__WIQhO {
    -webkit-app-region: no-drag
}

@media screen and (max-width:960px) {
    .trial-bar_hideOnMobile__Px_l1 {
        display: none
    }
}

/*# sourceMappingURL=cdf075c1c20e471a.css.map*/